body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.8));
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0em 3em 2em 3em;
}

h1 {
  text-align: center;
  color: purple;
  line-height: 1.8;
  font-family: Lora, serif;
}

.glowIn span {
  animation: glow-in 0.6s both;
}

@keyframes glow-in {
  from {
    opacity: 0;
  }
  65% {
    opacity: 1;
    text-shadow: 0 0 25px white;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}