apsw-sqlite3mc==3.46.1.0
folium==0.17.0
numpy==2.1.1
openai==1.50.2
openpyxl==3.1.5
pycryptodome==3.20.0
python-docx==0.8.11
pandas==2.2.3
pillow==10.4.0
pydeck==0.9.1
qianfan==0.4.9.1
redis==5.1.0
streamlit==1.39.0
streamlit-antd-components==0.3.2
streamlit-extras==0.5.0
streamlit-folium==0.23.1
streamlit-local-storage==0.0.24
streamlit-toggle-switch==1.0.2
streamlit-vis-timeline==0.3.0
streamlit-keyup==0.2.4
XlsxWriter==3.2.0
